data/**/*
.ipynb_checkpoints
HumanBat/LoggerDataProcessing
HumanBat/q-bats
HumanBat/yolov5
HumanBat/SeqBat
HumanBat/datasets
HumanBat/data_monitor
HumanBat/ImBat
HumanBat/Kilosort2_Tetrode
HumanBat/neurobat-hardware-alignment
HumanBat/neurobat-LEDTracking
HumanBat/__pycache__
HumanBat.egg-info/
HumanBat/DockerTask.py
HumanBat/HumanBat_DLC
build/
dist/
q-bats
qbats
*/__pycache__
__pycache__
.egg-info
